@charset "UTF-8";
body {
  margin: auto;
  background-color: #fff;
  margin-bottom: 200px;
}

#page {
  max-width: 100%;
}

#title {
  height: 170px;
  background: #579c87;
  color: #fdcb46;
  display: flex;
  justify-content: center;
  font-size: 2.3em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

h1 {
  font-size: 3rem;
}

#footer {
  height: 100px;
  background: #579c87;
}

#contenair {
  margin-top: 150px;
}

#contenair a {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

#contenair #menu1:hover a {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.4;
}

#contenair #menu2:hover a {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.4;
}

#contenair #menu3:hover a {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.4;
}

#contenair #menu4:hover a {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 0.4;
}

#menu1 a, #menu2 a, #menu3 a, #menu4 a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#menu1 {
  background-color: #FCDFDB;
  margin: auto;
  width: 45%;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu1 a, #menu1 h2 {
  color: #3d1319;
  padding: 0;
}

#menu1 p, #menu1 h2 {
  font-family: 'CopyrightHouseIndustriesNotLicensedforDesktopUse';
}

#menu1_complet {
  width: 500px;
  height: 700px;
  background: #FCDFDB;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
  font-family: "Comic Sans MS", arial;
  margin: auto;
  margin-bottom: 40px;
}

h2 {
  text-align: center;
  font-family: 'helvetica bold';
}

#menu2 {
  background-color: #fff5fe;
  margin: auto;
  width: 45%;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu2 h2 {
  color: #d8852e;
  font-family: 'RursusCompactMonoMedium';
}

#menu2 p {
  font-family: 'RursusCompactMonoMedium';
}

.degradé {
  font-size: 1.7em;
  background-image: linear-gradient(to right, #d8852e 0%, #905bfd 100%);
  background: -webkit-linear-gradient();
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#menu3 {
  background-color: #f9f9f9;
  margin: auto;
  width: 45%;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu3 h2 {
  color: #0887fb;
  font-family: 'DancingScriptRegular';
}

#menu3 p {
  font-family: 'DancingScriptRegular';
}

.degradé_3 {
  font-size: 1.7em;
  background-image: linear-gradient(to right, #0431df 0%, #0887fb 100%);
  background: -webkit-linear-gradient();
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#menu4 {
  background-color: #fdfffd;
  margin: auto;
  width: 45%;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu4 h2 {
  color: #72bf56;
  font-family: 'AlexanderRegular';
}

#menu4 p {
  font-family: 'AlexanderRegular';
}

.degradé_4 {
  font-size: 1.7em;
  background-image: linear-gradient(to right, #3d9339 0%, #bfff7e 100%);
  background: -webkit-linear-gradient();
  -webkit-background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#menu1, #menu2, #menu3, #menu4 {
  overflow: hidden;
}

#conteneur {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer_txtcolor {
  height: 100px;
  color: #fdcb46;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.txt_position:hover {
  animation: wiggle 0.4s ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  20% {
    transform: translateX(2px);
  }
  40% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.txt_position a {
  font-family: "Arial Black", arial;
  width: 250px;
  height: 43px;
  padding-top: 7px;
  /*permet le centrage vertical*/
  text-align: center;
  color: #fdcb46;
  background: #579c87;
  text-decoration: none;
  padding-left: 0;
}

.txt_position {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-top: 5px;
}

.ctct_position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 15px;
  margin-top: 5px;
}

.ctct_position a {
  font-family: "Arial Black", arial;
  width: 250px;
  height: 43px;
  padding-top: 7px;
  /*permet le centrage vertical*/
  text-align: center;
  color: #fdcb46;
  background: #579c87;
  text-decoration: none;
  padding-left: 0;
}

.ctct_position:hover {
  animation: wiggle 0.4s ease;
  animation-iteration-count: infinite;
}

@keyframes wiggle {
  20% {
    transform: translateX(2px);
  }
  40% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  80% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

#btn {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 10px 50px;
  border: 0px solid #579c87;
  border-radius: 10px;
  background: #579c87;
  color: #fdcb46;
  text-decoration: none;
  font-size: 1.6em;
  font-family: "Arial Black", arial;
}

/*.button:hover,
.button:focus {
    background: #ff5959;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff5959), to(#b62f2f));
    background: -moz-linear-gradient(top, #ff5959, #b62f2f);
    background: linear-gradient(to bottom, #ff5959, #b62f2f);
    color: #ffffff;
    text-decoration: none;
}
.button:active {
    background: #982727;
    background: -webkit-gradient(linear, left top, left bottom, from(#982727), to(#982727));
    background: -moz-linear-gradient(top, #982727, #982727);
    background: linear-gradient(to bottom, #982727, #982727);
}*/
header, footer {
  font-family: "Arial Black", arial;
}

@keyframes blink {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

.saving span {
  animation-name: blink;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.saving span:nth-child(2) {
  animation-delay: .2s;
}

.saving span:nth-child(3) {
  animation-delay: .4s;
}

.saving {
  margin: 0;
  padding: 0;
}

.entree_plat_dessert {
  display: flex;
}

.trait {
  width: 150px;
  height: 6px;
  margin: auto;
  display: block;
  background: black;
}

.trait2 {
  width: 150px;
  height: 6px;
  margin: auto;
  display: block;
  background: black;
}

#entete_menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#entete_menu img {
  width: 100px;
  height: 60px;
}

.fonts_menu1 h2 {
  color: #3d1319;
  text-decoration: none;
}

.fonts_menu1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
}

.fonts_menu1 p {
  margin: 0;
}

.fonts_menu1 h2 {
  margin: 0;
  font-size: 2.4rem;
}

.fonts_menu1, h2, p {
  font-family: 'Segoe print';
}

#menu1_icon_music img {
  min-width: 80px;
  height: 70px;
  margin-top: 40px;
  margin-bottom: 15px;
}

#footer {
  height: 100px;
  width: 100%;
  background: #579c87;
  margin-top: 50px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.fonts_menu1 h2 {
  margin-top: 20px;
}

@media all and (max-width: 1024px) {
  #page {
    max-width: 97%;
    height: auto;
    margin-top: 30px auto;
  }
  #title {
    font-size: 1.8rem;
  }
  #conteneur {
    margin-top: 100px;
  }
  #menu1 {
    width: 90%;
    height: 380px;
    margin: 35px auto;
  }
  #menu2 {
    width: 90%;
    height: 380px;
    margin: 35px auto;
  }
  #menu2 p {
    font-size: 1.5rem;
  }
  #menu3 {
    width: 90%;
    height: 380px;
    margin: 35px auto;
  }
  #menu4 {
    width: 90%;
    height: 380px;
    margin: 35px auto;
  }
  #footer {
    font-size: 0.8rem;
  }
  .fonts_menu1 p {
    font-size: 1.7rem;
  }
  .fonts_menu1 h2 {
    font-size: 2.4rem;
  }
  .txt_position {
    max-width: 28%;
    margin-bottom: 20px;
  }
  .ctct_position {
    max-width: 30%;
    margin-bottom: 20px;
  }
}
