html {
  background-color: grey;
}

body {
  width: 80%;
  max-width: 1000px;
  min-width: 700px;
  margin: auto;
  background-color: #fff;
}

#title {
  height: 200px;
  background: #579c87;
  color: #fdcb46;
  display: flex;
  justify-content: center;
  font-size: 2.3em;
}

#footer {
  height: 100px;
  background: #579c87;
}

#menu1 {
  width: 400px;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  background: #FCDFDB;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu2 {
  width: 400px;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  background: #fff5fe;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu3 {
  width: 400px;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  background: #F9F9F9;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#menu4 {
  width: 400px;
  height: 600px;
  margin-bottom: 60px;
  margin-top: 60px;
  background: #FDFFFD;
  box-shadow: 1px 1px 5px 1px #cfcfcf;
}

#contenair {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer_txtcolor {
  height: 100px;
  color: #fdcb46;
  display: flex;
  justify-content: space-between;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.txt_position {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-top: 5px;
}

.ctct_position {
  display: flex;
  justify-content: center;
  margin-right: 15px;
  margin-top: 5px;
}

.styled {
  width: 350px;
  height: 50px;
  border: 1px #579c87 solid;
  border-radius: 10px;
  background: #579c87;
  color: #fdcb46;
}

.styled p {
  font-size: 1.7em;
}

#btn_1 {
  justify-content: center;
  display: flex;
}
