@import "../utils/variables";

#menu1_complet {
    width: 900px;
    height: 1200px;
    box-shadow: $boxshadow;
    font-family: $police_menu2;
    margin: auto;
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    background-color: #fff5fe;

    h2 {
        color: #d8852e;
    }

   

   
}

body {
    margin-bottom: 200px;
}

#page {
    max-width: 100%;
    margin-top: 70px;
}



#title {
    height: 170px;
    background: $headfoot_color;
    color: $headfoot_fontcolor;
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 100px;
    div{
        text-align: center;
    }
}

#contener {
    @include font_color_menu1;

    max-width: 100%;
    margin: auto;
    background-image: linear-gradient(to bottom, rgb(216, 133, 46) 0%, rgb(144, 91, 253) 100%);
    background: -webkit-linear-gradient();
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

#entete_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        margin: 0;
        font-size: 2rem;
        margin-bottom: 40px;
        color: #3d1319;
    }

    img {
        min-width: 80px;
        height: 70px;
        margin-top: 40px;
    }
}

.entree_plat_dessert {
    display: flex;
    justify-content: space-between;

    a {
        font-size: 1.2em;
        margin: auto;
        text-decoration: none;
        padding: 0;
        
    
    }
    
}
.entree_plat_dessert:nth-child(1){
    a{
    color: #c97128;
    }
}

img {
    max-width: 30%;
    margin-top: 10px;
    margin: auto 25px;
}

.anim_bar {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}

.progress {
    padding: 0;
   

    &__bar {
        border-radius: 1px;
        width: 100%;
        height: 2px;
        background-image: linear-gradient(to right, rgb(216, 133, 46) 0%, rgb(144, 91, 253) 100%);
        background: -webkit-linear-gradient();
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 400ms ease-in-out;
    }
}

a:hover {
    & + .progress {
        & > .progress__bar {
            transform: scaleX(1);
        }
    }
}

.box {
    width: 800px;
    justify-content: space-between;
    margin: 40px auto;
}

.box2 {
    width: 800px;
    justify-content: space-between;
    margin: 40px auto;
}
.choix_menu {
    display: flex;
    justify-content: space-between;
}
.description_plat {
    margin-left: 30px;
}

h2 {
    font-size: 2.6em;
    text-align: center;
    margin-top: 260px;
    margin-bottom: 10px;
}

#entete_menu h1 {
    background-image: linear-gradient(to right, rgb(216, 133, 46) 0%, rgb(144, 91, 253) 100%);
    background: -webkit-linear-gradient();
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 50px;
    margin-top: 35px;
}

h4 {
    font-weight: bold;
    font-size: 2em;

    @include font_color_menu1;

    margin-top: 0;
}

p {
    font-size: 1.9em;
    margin-top: 0;
}


.trait, .trait2 {
    margin-top: 8px;
    width: 80px;
    height: 14px;
}



ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 1rem;
    margin-bottom: 10px;
    
}


.prix {
    width: 45px;
    margin-top: 17px;
    
}

p {
   
    font-size: 1em;
    margin-bottom: 14px;
}

.prix2 {
    width: 45px;
    margin-top: 17px;
}

#contenair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#fin_menu {
    p {
        margin: 0;
        font-size: 2rem;
    }

    img {
        min-width: 70px;
        height: 50px;
        margin: 0;
    }

    display: flex;
    justify-content: center;
}

#footer {
    height: 100px;
    width: 100%;
    background: $headfoot_color;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer_txtcolor {
    height: 100px;
    color: $headfoot_fontcolor;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.txt_position a {
    @include footer;
}

.txt_position {
    a {
        font-size: 1.4rem;
    }
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 5px;
}

.ctct_position {
    a {
        font-size: 1.4rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 5px;
}

.ctct_position a {
    @include footer;
}

/* Animation effet wigle du footer*/

@keyframes wiggle {
    20% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

.txt_position:hover {
    animation: wiggle 0.4s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    20% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

.ctct_position:hover {
    animation: wiggle 0.4s ease;
    animation-iteration-count: infinite;
}

header, footer {
    font-family: $polices-foter_header;
}

@media all and (max-width: 1024px) {
    #page {
        max-width: 97%;
        height: auto;
        margin-top: 30px auto;
    }

    #title {
        height: 140px;

        &#title > div {
            max-width: 100%;
        }
    }

    #footer {
        max-width: 97%;
        height: 80px;
    }

    .footer_txtcolor {
        max-width: 97%;
    }

    .txt_position a, .ctct_position a {
        font-size: 1rem;
    }

    .txt_position, .ctct_position {
        padding-bottom: 20px;
        margin: 0;
    }

    .ctct_position {
        max-width: 50%;
    }

    #contener, #fin_menu, .entree_plat_dessert {
        max-width: 100%;
        max-height: 80%;
    }

    .box li, .box2 li {
        font-size: 0.6em;
        margin-bottom: 20px;
    }

    .description_plat {
        margin-left: 19px;
        margin-top: 0;
        margin-bottom: 0;
    }

    .choix_menu {
        max-width: 60%;
        display: flex;
        flex-direction: column;
        max-width: 100%;
       
    }

    .box, .box2 {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        margin-top: 15px;
       

        li {
            font-size: 0.9rem;
        }
    }

    .prix{
        border: 1px #c97128 solid;
        border-radius: 100%;
        margin-bottom: 15px;
        margin-top: 0;
        margin-left: 40%;

        p {
            font-size: 0.6em;
            margin-bottom: 0;
           
            margin-left: 12px;
        }
    }
    .prix2{
        border: 1px #a76796 solid;
        border-radius: 100%;
        margin-bottom: 15px;
        margin-top: 0;
        margin-left: 40%;

        p {
            font-size: 0.6em;
            margin-bottom: 0;
           
            margin-left: 12px;
        }
    }

    ul {
        text-align: justify;
    }

    h1 {
        margin: auto;
    }

    h2 {
        font-size: 2em;
        margin-top: 0;
    }

    body {
        max-width: 97%;
    }

    header {
        max-width: 97%;
        height: 140px;
        font-size: 0.8em;
    }

    #menu1_complet {
        width: 97%;
        height: auto;
        padding: 8px;
        margin-top: 0;
    }

    img {
        margin: auto;
        max-width: 30%;
        height: auto;
    }

   

    .anim_bar {
        max-width: 47%;
    }

    .entree_plat_dessert {
        a {
            font-size: 0.88rem;
            margin: auto 9px;
        }
        display: flex;
        justify-content: space-between;
    }
}
