@import "../utils/variables";
*{
    font-family: 'CopyrightHouseIndustriesNotLicensedforDesktopUse';
    font-weight: normal;
    font-style: normal;   
}
#menu1_complet {
    width: 700px;
    height: 1200px;
    background: $firstmenu_color;
    box-shadow: $boxshadow;
    font-family: $police_menu1;
    margin: auto;
    margin-bottom: 40px;
    position: relative;
    margin-top: 260px;
}

body {
    margin-bottom: 200px;
}

#page {
    max-width: 100%;
}

#contenair {
    #menu1, #menu2, #menu3, #menu4 {
        div img {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transition: .3s ease-in-out;
            transition: .3s ease-in-out;
        }

        div:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }
}

#title {
    h1{
        font-family: "Arial Black", arial;
    }
    height: 170px;
    background: $headfoot_color;
    color: $headfoot_fontcolor;
    display: flex;
    justify-content: center;
    font-size: 2.3em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    margin-bottom: 100px;
}

#contener {
    @include font_color_menu1;

    max-width: 100%;
    margin: auto;
}

#entete_menu {
    display: flex;
    flex-direction: column;
    align-items: center;

    p{
        margin: 0;
        font-size: 2rem;
        margin-bottom: 40px;
    }
    img{
        min-width: 80px;
        height: 70px;
        margin-top: 40px;
        
    }
   
}

.entree_plat_dessert {
    display: flex;
    justify-content: space-between;
}
img {
    min-width: 30%;
    margin-top: 10px;
    margin: auto 25px;
   
}

.anim_bar {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
}

.progress {
    padding: 0;

    &__bar {
        border-radius: 1px;
        width: 100%;
        height: 2px;
        background: #3d1319;
        transform-origin: left;
        transform: scaleX(0);
        transition: transform 400ms ease-in-out;
    }
}

a:hover {
    & + .progress {
        & > .progress__bar {
            transform: scaleX(1);
        }
    }
}

.box {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
}

.box2 {
    width: 600px;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    .prix p{
        padding: 0;
    }
}

h2 {
    font-family: $police_menu1;
    font-size: 2.6em;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}

h4 {
    font-weight: bold;
    font-size: 2em;

    @include font_color_menu1;

    margin-top: 0;
}

p {
    font-size: 1.9em;
    margin-top: 0;
}



.trait, .trait2 {
    margin-top: 8px;
    background: #3d1319;
    color: transparent;
}

a {
    font-size: 1.9em;
    margin: auto;
    text-decoration: none;
    padding: 0;
    color: #3d1319;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
    font-size: 1.4em;
    margin-bottom: 10px;
}

.prix {
   
    width: 45px;
    margin-top: 17px;
}
.prix p:nth-child(1){
    padding-left: 14px;
}
.prix p:nth-child(2){
    padding-left: 11px;
}
.prix p:nth-child(3){
    padding-left: 11px;
}

.prix p:nth-child(4){
    padding-left: 4px;
}

p {
    font-size: 1.3em;
    margin-bottom: 14px;
}

.prix2 {
    p:nth-child(1){
        padding-left: 5px;
    }
    p:nth-child(3){
        padding-left: 5px;
    }
    
    
    
p {
   
    font-size: 1.3em;
    margin-bottom: 13px;
}
    width: 45px;
    margin-top: 17px;
}


#contenair {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#fin_menu {
    p{
        margin: 0;
        font-size: 2rem;
    }
    img{
        min-width: 70px;
        height: 50px;
        margin: 0;
    }
    display: flex;
    justify-content: center;
}

#footer {
    height: 87px;
    width: 100%;
    background: $headfoot_color;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer_txtcolor {
    height: 100px;
    color: $headfoot_fontcolor;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.txt_position a {
    @include footer;
}

.txt_position {
    a{
        font-size: 1.4rem;
    }
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    margin-top: 5px;
}

.ctct_position {
    a{
        font-size: 1.4rem;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    margin-top: 5px;
}

.ctct_position a {
    @include footer;
}

/* Animation effet wigle du footer*/

@keyframes wiggle {
    20% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

.txt_position:hover {
    animation: wiggle 0.4s ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes wiggle {
    20% {
        transform: translateX(2px);
    }

    40% {
        transform: translateX(-2px);
    }

    60% {
        transform: translateX(2px);
    }

    80% {
        transform: translateX(-2px);
    }

    100% {
        transform: translateX(0);
    }
}

.ctct_position:hover {
    animation: wiggle 0.4s ease;
    animation-iteration-count: infinite;
}

header, footer {
    font-family: $polices-foter_header;
}

@media all and (max-width: 1024px) {
    #page {
        max-width: 97%;
        height: auto;
        margin-top: 30px auto;
    }

    #title {
        height: 140px;

        &#title > div {
            max-width: 100%;
        }
    }

    #footer {
        max-width: 97%;
        height: 80px;
    }

    .footer_txtcolor {
        max-width: 97%;
    }

    .txt_position a, .ctct_position a {
        font-size: 0.8em;
    }

    .txt_position, .ctct_position {
        padding-bottom: 20px;
        margin: 0;
    }

    .ctct_position {
        max-width: 50%;
    }

    #contener, #fin_menu, .box2, .box, .entree_plat_dessert {
        max-width: 100%;
        max-height: 80%;
    }

    .box li, .box2 li {
        font-size: 0.6em;
        margin-bottom: 15px;
    }

    .prix p {
        font-size: 0.6em;
        margin-top: 4px;
        padding: 0;
    }

    .prix {
        padding-left: 17px;
    }

    .prix p:nth-child(2), .prix p:nth-child(3), .prix p:nth-child(4) {
        margin-top: 28px;
    }

    ul {
        max-width: 70%;
        text-align: justify;
    }

    h1 {
        margin: auto;
    }

    h2 {
        font-size: 2em;
    }

    body {
        max-width: 97%;
    }

    header {
        max-width: 97%;
        height: 140px;
        font-size: 0.8em;
    }

    #menu1_complet {
        width: 97%;
        height: auto;
        padding: 8px;
        margin-top: 0;
    }

    img {
        max-width: 90%;
        height: auto;
    }

    a {
        font-size: 0.8em;
        margin: auto 9px;
    }

    .anim_bar {
        max-width: 29%;
    }

    .entree_plat_dessert {
        display: flex;
        justify-content: space-between;
    }
}
